* {
  background-color: #e3fafc;
  border-radius: 20px 30px;
  font-family: Montserrat inherit;
  font-size: 18px;
}

.mainInformation {
  padding: 20px;
  margin-left: 50px;
  text-align: center;
  border: 2px solid #8d9899;
}
.blockinfo {
  text-align: center;
  max-width: 800px;
  border: 2px solid #8d9899;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 30px 10px 30px;
}
header {
  position: inherit;
  margin-left: 20%;
  margin-right: 20%;
  padding: 10px 10px 10px 0px;
  display: flex;
  justify-content: center;
}
code {
  font-weight: bold;
}
address {
  margin-top: 30px;
  font-size: 20px;
}
img {
  border-radius: 0%;
  max-width: 200px;
}
h3 {
  margin: 20px 0px 20px 0px;
  font-size: 25px;
}
li {
  text-align: center;
  list-style-type: none;
  font-weight: bold;
  font-style: oblique;
  line-height: 1.5;
}
footer {
  text-align: center;
}
